@font-family: 'Poppins', sans-serif;

//COLORS
@general-blue: #2250FC;
@general-black:#000000e6;
@primary-black: #00000080;
@primary-black-2: #0000004d;
@gb-a12: #2250FC1f;
@gb-a16: #2250FC29;
@gb-a20: #2250FC33;
@border: #DCE1EB;
@gray-icons: #7A8499;
@light-bg: #F7F9FB;
@white: #FFFFFF;

