@import './antdThemeConfig.less';
@import './fontsConnection.less';

body {
  margin: 0;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Poppins, sans-serif;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  box-shadow: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




//BUTTONS
.ant-btn {
  font-family: Poppins, sans-serif;
}









